<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light d-print-none">
    <a class="navbar-brand" href="/">
        <img src="/resources/favicon_crop.png" class="align-top" alt="" style="height: 2.0rem;">
        David K. Zhang
    </a>
    <input type="checkbox" class="visually-hidden" id="navbar-checkbox"
        aria-label="Toggle navigation" aria-controls="navbar-menu">
    <label class="navbar-toggler" for="navbar-checkbox">
        <span class="navbar-toggler-icon"></span>
    </label>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects.html">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publications.html">Publications</a>
            </li>
            <li class="nav-item dropdown">
                <details>
                    <summary class="nav-link dropdown-toggle">
                        Notes
                    </summary>
                    <ul class="dropdown-menu">
                        <li>
                            <h6 class="dropdown-header">Mathematics</h6>
                        </li>
                        <li><a class="dropdown-item" href="/groups.html">Group Theory</a></li>
                        <li><a class="dropdown-item" href="/rings.html">Ring Theory</a></li>
                        <li><a class="dropdown-item" href="/linalg.html">Linear Algebra</a></li>
                        <li><a class="dropdown-item" href="/convex.html">Convex Analysis</a></li>
                        <li><a class="dropdown-item" href="/functionalanalysis.html">Functional Analysis</a></li>
                        <li><a class="dropdown-item" href="/optimization.html">Optimization</a></li>
                        <li><a class="dropdown-item" href="/topology.html">Topology</a></li>
                        <li><a class="dropdown-item" href="/numbertheory.html">Number Theory</a></li>
                        <li><a class="dropdown-item" href="/misc.html">Miscellaneous Thoughts</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">Computer Science</h6>
                        </li>
                        <li><a class="dropdown-item" href="/ecc.html">Error-Correcting Codes</a></li>
                        <li><a class="dropdown-item" href="/websites.html">Building Static Websites</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>
