<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{{TITLE}}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/litera/bootstrap.min.css" integrity="sha256-Q00U94hg4dJWKAb/+PbWUKdIQSu6JqzKmmS/b8OnMtM=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha256-cXvJrnhTth8PdkVd3fDs1PUnp4P0LeKsJGhImcHEYlg=" crossorigin="anonymous">
        <style>{{{STYLE}}}</style>
    </head>
    <body>
        {{{NAVBAR}}}
        <div class="container-lg">
            <div class="d-print-none" style="padding-top: 4.0rem;"></div>
            <main>{{{CONTENT}}}</main>
            <div class="d-print-none">
                <hr>
                <footer>
                    <span class="float-end text-secondary mb-3">&copy; David K. Zhang 2016&ndash;2024</span>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
    </body>
</html>
